In [1]:
from deep_translator import GoogleTranslator
import nltk
import pandas as pd
from nltk.tokenize import word_tokenize
from tqdm import tqdm

# NLTK 패키지 다운로드 (최초 1회만 필요)
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lovey\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
df = pd.read_csv('dewey.csv')
translator = GoogleTranslator(source='en', target='ko')

df.fillna('', inplace=True)
df

,Unnamed: 0,주류,강목,요목번호,요목명,세목번호,세목명
0,0,"Computer science, information & general works",,000,"Computer science, information & general works",000,"Computer science, information, general works"
1,1,"Computer science, information & general works","Computer science, knowledge & systems",000,"Computer science, information, general works",000,"Computer science, information, general works"
2,2,"Computer science, information & general works","Computer science, knowledge & systems",001,Knowledge,001,Knowledge
3,3,"Computer science, information & general works","Computer science, knowledge & systems",001,Knowledge,001.01,Theory of knowledge
4,4,"Computer science, information & general works","Computer science, knowledge & systems",001,Knowledge,001.0601,"Knowledge--international organizations, . . ."
...,...,...,...,...,...,...,...
3242,3242,"History of specific continents, countries, loc...",History of other areas,997,†Atlantic Ocean islands,997.1,"†Falkland Islands, South Georgia and South San..."
3243,3243,"History of specific continents, countries, loc...",History of other areas,997,†Atlantic Ocean islands,997.3,"†St Helena, Ascension and Tristan da Cunha"
3244,3244,"History of specific continents, countries, loc...",History of other areas,998,†Arctic islands and Antarctica,998,†Arctic islands and Antarctica
3245,3245,"History of specific continents, countries, loc...",History of other areas,998,†Arctic islands and Antarctica,998.2,†Greenland
3246,3246,"History of specific continents, countries, loc...",History of other areas,999,Extraterrestrial worlds,999,Extraterrestrial worlds

In [3]:
#번역
#소요 시간: 75m

# 번역함수 생성
def translate_text(text):
    if text:
        return translator.translate(text)
    return text

translated_lists = [] #임시 저장

for index, row in tqdm(df.iterrows(), desc='df ~3246'):
    translated_row = [
        translate_text(row['주류']),
        translate_text(row['강목']),
        translate_text(row['요목명']),
        translate_text(row['세목명'])
    ]
    translated_lists.append({'ddc' : row['세목번호'],  
                            '주류(한글)': translated_row[0],
                            '강목(한글)': translated_row[1],
                            '요목(한글)': translated_row[2],
                            '세목(한글)': translated_row[3]})

df ~3246: 3247it [1:14:49,  1.38s/it]

In [4]:
df = pd.DataFrame(translated_lists)
df

,ddc,주류(한글),강목(한글),요목(한글),세목(한글)
0,000,"컴퓨터 과학, 정보 및 일반 작업",,"컴퓨터 과학, 정보 및 일반 작업","컴퓨터 과학, 정보, 일반 업무"
1,000,"컴퓨터 과학, 정보 및 일반 작업","컴퓨터 과학, 지식 및 시스템","컴퓨터 과학, 정보, 일반 업무","컴퓨터 과학, 정보, 일반 업무"
2,001,"컴퓨터 과학, 정보 및 일반 작업","컴퓨터 과학, 지식 및 시스템",지식,지식
3,001.01,"컴퓨터 과학, 정보 및 일반 작업","컴퓨터 과학, 지식 및 시스템",지식,지식의 이론
4,001.0601,"컴퓨터 과학, 정보 및 일반 작업","컴퓨터 과학, 지식 및 시스템",지식,"지식--국제기구, . . ."
...,...,...,...,...,...
3242,997.1,"현대 세계의 특정 대륙, 국가, 지역의 역사; 외계 세계",다른 지역의 역사,†대서양 섬,"†포클랜드 제도, 사우스 조지아 및 사우스 샌드위치 제도, 부베 섬"
3243,997.3,"현대 세계의 특정 대륙, 국가, 지역의 역사; 외계 세계",다른 지역의 역사,†대서양 섬,"†세인트헬레나, 어센션, 트리스탄다쿠냐"
3244,998,"현대 세계의 특정 대륙, 국가, 지역의 역사; 외계 세계",다른 지역의 역사,†북극 섬 및 남극 대륙,†북극 섬 및 남극 대륙
3245,998.2,"현대 세계의 특정 대륙, 국가, 지역의 역사; 외계 세계",다른 지역의 역사,†북극 섬 및 남극 대륙,†그린란드
3246,999,"현대 세계의 특정 대륙, 국가, 지역의 역사; 외계 세계",다른 지역의 역사,외계 세계,외계 세계

In [5]:
df.to_csv('translated.csv')